/* SETUP-BE | 1.0.0 | 200414 | setup-be/block/setup-be-100/youtube.scss
---------------------------------------------------------------------------------------------------- */

// -------------------------------------
// EXTEND



// -------------------------------------
// SELECTORS

	.wp-block-embed-youtube .wp-block-embed__wrapper {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.wp-block-embed-youtube iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}